@page "/"

<div class="main">
  <div class="content">
    <h1>We are the Motley crew.</h1>
    <h5>Please fill in your details below.</h5>

    <EditForm Model="@personModel" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form">
          <div class="field">
            <label for="name">Name</label>
            <InputText id="name" bind-Value="@personModel.Name" />
          </div>
          <div class="field">
            <label for="age">Age</label>
            <InputNumber id="age" bind-Value="@personModel.Age" /> 
          </div>
          <button type="submit">Submit</button>
        </div>
    </EditForm>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var person in persons)
        {
          <tr>
            <td>@person.Name</td>
            <td>@person.Age.ToString()</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@functions {

    Person personModel = new Person();
    List<Person> persons = new List<Person>();

    void HandleSubmit() {
      persons.Add(personModel);
      personModel = new Person();
    }

    class Person {

      [Required]
      [StringLength(10, ErrorMessage = "Name is too long.")]
      public string Name { get; set; }

      [Required]
      public int Age { get; set; }
    }
}
